.now-playing__name {
  font-size: 1.5em;
  width: 100%;

  margin-bottom: 0.2em;
}

.now-playing__artist {
  margin-bottom: 1em;
}

.now-playing__status {
  margin-bottom: 1em;
}

.now-playing__img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;

  width: 25rem;
}

.now-playing__img img {
  max-width: 50%;
  height: 30%;
  display: inline;
  width: 30%;
  border-radius: 5%;
}

.now-playing__side {
  margin-left: 5%;
  width: 45%;
}

/** Progress **/

.progress {
  border: 1px solid #eee;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}

.progress__bar {
  background-color: green;
  height: 4px;
}

.App{
  float: right;
}